

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light Grey Background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #0056a3; /* Sportmediaset Blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #003366; /* Darker Blue */
}

main {
    flex: 1;
    padding: 20px;
}

h1, h2, h3 {
    color: #0056a3; /* Sportmediaset Blue */
}


/* Flex-grow content to push the footer to the bottom */
.table-container {
    flex: 1;
}

/* Style the footer to ensure it stays at the bottom */
footer {
    background: #f8f8f8; /* Or any other background color */
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
.table-container {
    overflow-x: auto;
    margin: 20px;
    max-width: 100%;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #0056a3; /* Sportmediaset Blue */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0056a3; /* Sportmediaset Blue */
    color: #fff;
    text-transform: uppercase;
}

footer {
    background-color: #0056a3; /* Sportmediaset Blue */
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

button {
    background-color: #0056a3; /* Sportmediaset Blue */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #003366; /* Darker Blue */
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
