/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* Mostra sempre la scrollbar verticale */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #0056a3;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunto ombra per la barra di navigazione */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar .logo img {
  height: 90px;
  margin-left: 625px
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #003366;
  color: #fff;
  transform: scale(1.1);
}

nav ul li a i {
  margin-right: 5px; /* Margine per le icone accanto ai link */
}

main {
  flex: 1;
  padding: 20px;
}

.hero {
  position: relative;
  background-image: url('/static/images/SfondoCalcio.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 1;
}

.hero-content h1, .hero-content p {
  color: #fff;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff5733;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
  background-color: #e14a2a;
  transform: translateY(-5px);
}

/* Sezione delle caratteristiche */
.features {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.feature-item {
  text-align: center;
  padding: 20px;
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.feature-item h2 {
  color: #0056a3;
}

footer {
  background-color: #0056a3;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* Stili per la tabella dei dettagli giocatore */
.player-details {
  margin-top: 20px;
}

#player-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

#player-table th, #player-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

#player-table th {
  background-color: #0056a3;
  color: white;
}

#player-table td {
  background-color: #f9f9f9;
}

/* Stili per la barra di ricerca */
.search-container {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.search-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container input[type=text]:focus {
  outline: none;
  border-color: #0056a3;
}

/* Stili per i pulsanti di navigazione giocatori */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #0056a3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:hover {
  background-color: #003366;
}

.scritta {
  margin-top: 10px; /* Aggiunge margine sopra il titolo */
  margin-bottom: 10px; /* Aggiunge margine sotto il titolo */
  margin-left: 10px;
}

/* Stili per i form di query */
form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h2 {
    margin-top: 0;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Stili per i pulsanti di invio nei form */
input[type="submit"] {
  background-color: #d4a63e; /* Colore senape */
  color: white; /* Testo bianco */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #c19035; /* Cambio colore al passaggio del mouse */
}


/* Aggiunta stili per la sezione delle query */
.query-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.query-section form {
    flex-basis: 45%; /* Larghezza delle form nella sezione delle query */
    margin-bottom: 20px;
}

/* Stili per i risultati delle query */
.query-results {
    margin-top: 40px;
}

.query-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.query-results th,
.query-results td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.query-results th {
    background-color: #0056a3;
    color: white;
}

.query-results td {
    background-color: #f9f9f9;
}

.scrittaQuery {
    margin-left: 640px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #c19035;
}

