<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Players App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
  <center><h1>Players_App</h1></center>
  <!-- Header -->

  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo del sito">

    </div>


<nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li> <a href="/players">Players</a></li>
        <li><a href="/query">Query</a></li>
      </ul>
    </nav>
  </header>

  <!-- Sezione principale della pagina -->
  <main>
    <h1>Benvenuti alla pagina dei giocatori di calcio</h1>
    <p>
      Questo è un sito dedicato al controllo delle statistiche dei giocatori di calcio. Puoi usare questa pagina per visualizzare
      informazioni sui giocatori, squadre, calendari e varie statistiche legate al calcio.
    </p>
    <p>
      Sentiti libero di personalizzare e aggiungere altri contenuti per rendere questa pagina unica!
    </p>

    <!-- Contenitore React dove viene visualizzata la lista dei giocatori e il form per aggiungere un giocatore -->
    <div id="root"></div>
  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <p>&copy; 2024 Players App. Tutti i diritti riservati.</p>
      <ul>
        <li><a href="#privacy">Privacy</a></li>
        <li><a href="#terms">Terms of Use</a></li>
        <li><a href="#contact">Contatti</a></li>
      </ul>
    </div>
  </footer>

  <!-- Script per il codice React -->
  <script src="./static/query.js"></script>
  <script src="./index.html"></script>
</body>

</html>
