<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <center><h1>Player Not Found</h1></center>
    <p>Il giocatore che stai cercando non è stato trovato nel nostro database. Per favore, controlla l'ID del giocatore e riprova.</p>
    <a href="/">Torna alla home</a>
</body>

</html>
