<!DOCTYPE html> <html> <head> <title>Query Update Age</title>
    <div> <a href="http://127.0.0.1:5000/query">NBA QUERY</a> </div>
</head> <body> <h1>Query Update Age</h1>
<ul>
    <li>Id: {{ oggetto.id }}</li>
    <li>Full Name: {{ oggetto.full_name }}</li>
    <li>Current Club: {{ oggetto.current_club }}</li>
    <li>Age: {{ oggetto.age }}</li>
    <li>Height: {{ oggetto.height }}</li>
    <li>Weight: {{ oggetto.weight }}</li>
    <li>Nationality: {{ oggetto.nationality }}</li>
    <li>Position: {{ oggetto.position }}</li>
    <li>Goals Overall: {{ oggetto.goals_overall }}</li>
    <li>Assists Overall: {{ oggetto.assists_overall }}</li>
    <li>Clean Sheets Overall: {{ oggetto.clean_sheets_overall }}</li>
    <li>Minutes Played Overall: {{ oggetto.minutes_played_overall }}</li>
    <li>Interceptions Overall: {{ oggetto.interceptions_overall }}</li>
    <li>Red Cards Overall: {{ oggetto.red_cards_overall }}</li>
    <li>Yellow Cards Overall: {{ oggetto.yellow_cards_overall }}</li>
    <li>Shots Overall: {{ oggetto.shots_overall }}</li>
    <li>Shots on Target Overall: {{ oggetto.shots_on_target_overall }}</li>
</ul>

</body> </html>